<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/logo1.png" width="30" height="30" alt="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" rounterActive="active" [routerLink]="['recetas']">Todas las recetas</a>
      </li>
      <li class="nav-item" *ngIf="loginAuthService.isAuthenticated()">
        <a class="nav-link" rounterActive="active" [routerLink]="['protegida']">Subir recetas</a>
      </li>
      <!--li class="nav-item" *ngIf="!auth.isAuthenticated()">
        <a (click)="login()" class="nav-link" rounterActive="active" [routerLink]="['login']">Log in</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
        <a (click)="salir()" class="nav-link" rounterActive="active" [routerLink]="['logout']">Log out</a>
      </li-->
    </ul>
    <div class="form-inline flex-grow-1">
      <!-- (keyup.enter)="buscarReceta(buscarTexto.value)" -->
      <input (keyup.enter)="buscarReceta(buscarTexto.value)" class="form-control mr-sm-2 flex-grow-1" type="text" placeholder="Buscar receta" #buscarTexto />
      <!-- (click)="buscarReceta(buscarTexto.value)" -->
      <button (click)="buscarReceta(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">
        Buscar
      </button>
    </div>

    <ul class="navbar-nav navbar-right pl-3">
      <li *ngIf="!loginAuthService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary">Sign In</a></li>

      <li *ngIf="loginAuthService.isAuthenticated()" class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{loginAuthService.usuario.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
